/Pro4_openGLseries/build-openglseries-Desktop_Qt_5_12_3_MinGW_32_bit-Debug
/Pro3Tet_noUI/build-proj_noUI-Desktop_Qt_5_12_3_MinGW_32_bit-Debug
/Pro2Test/build-untitled-Desktop_Qt_5_12_3_MinGW_32_bit-Debug
/FirstProject_Test/build-untitled-Desktop_Qt_5_12_3_MinGW_32_bit-Debug
/Pro5_autiowave/build-audio-Desktop_Qt_5_12_3_MinGW_32_bit-Debug
/Pro6_callout/build-callout-Desktop_Qt_5_12_3_MinGW_32_bit-Debug
